.App {
  background-color: #282c34;
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.panel {
  background-color: #343944;
  border-radius: 10px;
  min-height: 70vh;
  min-width: 60vh;
  margin: 16px;
  padding: 16px;
}