.Task {
  background-color: #282c34;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.Task p {
  margin: 0px;
}

.Task-remove {
  color: #777;
}