.Task {
  background-color: #282c34;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 8px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.Task label {
  display: flex;
  justify-content: space-between;
}

.Task input {
  background: transparent;
  border: none;
  color: white;
  font-size: inherit;
  font-family: inherit;
}

.Task p {
  margin: 0px;
}

.Task-remove {
  background: none;
  margin: 0;
  padding: 0 0.4rem;
  color: #777;
}

.Task-remove:hover {
  background: #404852;
}